@import'components/dadImage';
@import'components/randomJoke';
@import'components/lookForJoke';
@import'components/cardLookForJoke';
@import'components/cardRandomJoke';

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}

li{
  list-style: none;
  padding: 3px;
}

a{
  text-decoration: none;
  color: #000000;
}