.randomJoke{
  background-color: #ffffff;
  width: 90%;
  height: 45px;
  border-radius: 8px;
}

.search-position{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.randomJoke-btn{
  position: relative;
  left: 30%;
  top: 20%;
  width: 38%;
  height: 35px;
  background-color: #ffffff;
  border-radius: 8px;
}